* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0e415d;
}

.head {
  margin: auto;
  margin-top: 20em;
  width: 20%;
}

img {
  margin-left: 10em;
  margin-right: auto;
}

p {
  font-size: 4.5em;
  margin-left: 1.5em;
  color: rgb(255, 255, 255);
}
