* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #5e6a0b;
}

.head {
  margin: auto;
  margin-top: 10em;
  width: 20%;
}

img {
  margin-left: 10em;
  margin-right: auto;
  width: 35%;
}

p {
  font-size: 2em;
  margin-left: 2.5em;
  color: rgb(255, 255, 255);
}

.form {
  margin: auto;
  margin-top: 1.3em;
  width: 40%;
  height: 7.5em;
}

input {
  margin-top: 0.5em;
  margin-left: 7em;
  height: 1.5em;
  width: 40%;
  padding: 1.2rem 3.2rem;
  font-size: 30px;
  border-style: none;
}
input,
button {
  background-color: white;
  color: #5a3e2b;
  font-family: inherit;
  border: none;
  border-radius: 2rem;
  font-weight: 700;
  cursor: pointer;
}

.form button {
  width: 20%;
  text-transform: uppercase;
  background-color: #76c7ad;
  font-size: 1.8rem;
  height: 1.5em;
  margin-top: 0.5em;
  margin-left: 25px;
  color: #000;
}

.taskItem {
  position: relative;
  width: 450px;
  height: 60px;
  left: 810px;
  background-color: rgb(213, 213, 222);
}

.child {
  position: absolute;
}

.child-2 {
  top: 17px;
  left: 200px;
  font-size: 30px;
}

.child-3 {
  top: 17px;
  left: 340px;
}

.taskItem:hover {
  background-color: white;
}

.taskItem input {
  margin-left: 100px;
  margin-top: 17px;
  width: 30px;
  height: 35px;
}

.taskItem .child-3 button {
  width: 100px;
  height: 35px;
  background-color: black;
}
