* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(11, 71, 20, 0.8604691876750701) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.head {
  width: 35%;
  position: relative;
  margin: 50px auto;
}

.headItem {
  position: relative;
}

.item-1 {
  width: 50%;
  left: 120px;
}

.item-2 {
  font-size: 30px;
  color: white;
  text-align: center;
  top: -30px;
  font-family: "Arial", Courier, monospace;
}

.form {
  width: 35%;
  height: 6em;
  position: relative;
  left: 500px;
  top: -80px;
}

.formHandl {
  position: absolute;
}

.inputHandle {
  top: 30px;
  left: 100px;
}

.inputHandle input {
  width: 200px;
  height: 30px;
  padding: 20px;
  border-radius: 20px;
  border-style: none;
  background: #fffaf0;
}

.inputHandle input:focus {
  outline: none;
}

.buttonHandle {
  width: 100px;
  height: 40px;
  left: 350px;
  top: 31px;
  border-radius: 20px;
  border-style: none;
  background-color: orange;
}

.buttonHandle button:focus {
  outline: none;
}

.buttonHandle button {
  font-weight: bold;
}

.taskItem {
  position: relative;
  width: 450px;
  height: 60px;
  left: 810px;
  background-color: rgb(213, 213, 222);
}

.child {
  position: absolute;
}

.child-2 {
  top: 17px;
  left: 200px;
  font-size: 30px;
}

.child-3 {
  top: 17px;
  left: 340px;
}

.taskItem:hover {
  background-color: white;
}

.taskItem input {
  margin-left: 100px;
  margin-top: 17px;
  width: 30px;
  height: 35px;
}

.taskItem .child-3 button {
  width: 100px;
  height: 35px;
  background-color: black;
}
